In [3]:
people={
    "a":["a1","a2","a3"],
     "b":["b1","b2","b3"],
        "c":["c1","c2","c3"]    
}
import pandas as pd
df=pd.DataFrame(people)
df

    a   b   c
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

# iloc

In [2]:
# df.iloc[0]
# df.iloc[[0,1],:2]
# df.iloc[1]
# df.iloc[[0,1],2]
# df.iloc[:1]
# df.loc[:1]
# df.iloc[0:2,:2]

In [5]:
# df.loc[[0,1],["a"]]
# df.loc[[0,1],["a","b"]]
# df.loc[[0,1],"a":"b"]
#df.loc[["a","b"]]
df.loc[[0,1],["a","b"]]

    a   b
0  a1  b1
1  a2  b2

In [4]:
people={
    "a":["a1","a2","a3"],
     "b":["b1","b2","b3"],
        "c":["c1","c2","c3"]    
}
import pandas as pd
df=pd.DataFrame(people)
df

    a   b   c
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3

In [6]:
filt=df["b"].str.contains("b1",na=False)

In [7]:
filt

0     True
1    False
2    False
Name: b, dtype: bool