In [28]:
import pandas as pd
people={
    "a":["b1","a2","c3"],
     "b":["b1","b2","b3"],
        "c":["c1","c2","c3"]    
}

df=pd.DataFrame(people)
df

    a   b   c
0  b1  b1  c1
1  a2  b2  c2
2  c3  b3  c3

In [35]:
df.set_index('c',inplace=True)
df

Empty DataFrame
Columns: []
Index: [c3, c1, c2]

In [27]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df.reset_index(inplace=True)
df

   index   b   c
0      0  b1  c1
1      1  b2  c2
2      2  b3  c3

In [33]:
# df.sort_index(inplace=True)
df.sort_index(ascending=False,inplace=True)
df

     b   c
a
c3  b3  c3
b1  b1  c1
a2  b2  c2