In [2]:
import pandas as pd
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
df=pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [3]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [4]:
df.columns=["first_name","last_name","emaail1"]
df

  first_name last_name                  emaail1
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [6]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                  EMAAIL1
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [12]:
df.rename(columns={'FIRST_NAME': 'FIRST_NAME1', 'LAST_NAME': 'LAST_NAME1'}, inplace=True)

In [13]:
df

  FIRST_NAME1 LAST_NAME1                  EMAAIL1
0       Corey    Schafer  CoreyMSchafer@gmail.com
1        Jane        Doe        JaneDoe@email.com
2        John        Doe        JohnDoe@email.com

In [14]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [15]:
df

  FIRST_NAME1 LAST_NAME1                  EMAAIL1
0       Corey    Schafer  CoreyMSchafer@gmail.com
1        Jane        Doe        JaneDoe@email.com
2        John      Smith      JohnSmith@email.com

In [16]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
df

  FIRST_NAME1 LAST_NAME1                  EMAAIL1 last              email
0       Corey    Schafer  CoreyMSchafer@gmail.com  NaN                NaN
1        Jane        Doe        JaneDoe@email.com  NaN                NaN
2        John      Smith      JohnSmith@email.com  Doe  JohnDoe@email.com

In [20]:
df.loc[2, 'last'] = 'Smith'

In [21]:
df.at[2, 'last'] = 'Doe'

In [ ]:
df